{% extends "base_boot.html" %}
{% block title %}
    <span style="color:red">There is already a customer with his username, please enter another username </span>
{% endblock %}
{% block body %}
<form method='POST'>
    <div class="form-group" > <!-- class="form-group"= bootstrap qui permet de créer un groupe dans le formulaire dans lesquel on mettera des objet-->
        <input class="form-control" id="firstname_add_client" placeholder="Firstname" name="firstname">
        <div id="div_input_firstname" style="display:none"><span style="color:red">Please enter a firstname without space between characters</span></div>
    </div>
    <div class="form-group" >
        <input class="form-control" id="lastname_add_client" placeholder="Lastname" name="lastname">
        <div id="div_input_lastname" style="display:none"><span style="color:red">Please enter a lastname without space between characters</span></div>
    </div>
    <div  class="form-group" >
        <input class="form-control" id="email_add_client" placeholder="E-mail" name="email" type="email">
        <div id="div_input_email" style="display:none"><span style="color:red">Please enter a valid email</span></div>
    </div>
    <div  class="form-group" >
        <label for="pass1">Password (8 characters minimum):</label>
        <input class="form-control" id="pass1" placeholder="password" name="password" type="password" minlength="8" required>
    </div>
    <div  class="form-group" >
        <label for="pass2">confirm your password:</label>
        <input class="form-control" id="pass2" placeholder="password" name="verif_password" type="password" minlength="8" required>
        <div id="div_input_pwd2" style="display:none"><span style="color:red">Please enter the same password</span></div>
    </div>
    <button type="submit" id="button_add_client" onclick="FunctionToCheckAddingClient()" class="btn btn-primary">Add</button>
    <div id="btn_home_page"><a class="example_a" href="{{ url_for('welcome_home') }}"  rel="nofollow noopener" id="button_home_page">Home page</a></div>
</form>
{% endblock %}